################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CSMedium_5.1/v15
/.vs
/CSMedium_5.1/.vs/CSMedium_5.1/v15
